body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

button {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border: none;
    color: white;
    background: rgb(54, 54, 54);
    border-radius: 1rem;
    transition: background 0.1s ease-in;
}

button:hover {
    background:rgb(81, 90, 117);
    cursor: pointer;
}

